---
# 1. Test application
apiVersion: apps/v1
kind: Deployment
metadata:
  name: whoami
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: whoami
  template:
    metadata:
      labels:
        app: whoami
    spec:
      containers:
        - name: whoami
          image: traefik/whoami
          ports:
            - containerPort: 80

---
# 2. Internal service
apiVersion: v1
kind: Service
metadata:
  name: whoami
  namespace: default
spec:
  ports:
    - name: web
      port: 80
      targetPort: 80
  selector:
    app: whoami

---
# 3. Strip /test-repl prefix before forwarding to service
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: test-repl-stripprefix
  namespace: default
spec:
  stripPrefix:
    prefixes:
      - /test-repl
      - /test-repl/

---
# 4. Host/path ingress route for smoke testing
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: whoami-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/router.middlewares: default-test-repl-stripprefix@kubernetescrd
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - repl.parthkapoor.me
      secretName: tls-secret
  rules:
    - host: repl.parthkapoor.me
      http:
        paths:
          - path: /test-repl
            pathType: Prefix
            backend:
              service:
                name: whoami
                port:
                  number: 80
